@inherits LayoutComponentBase
<main>
    <nav class="p-5">
        <a href="/" class="mb-4 text-1xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-3xl">Blazor <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Midu Libros</span>
        </a>
    </nav>
    <section class="mx-auto">
        @Body
    </section>
</main>